.common__section {
  background: linear-gradient(rgba(170, 176, 215, 0.824), rgba(117, 122, 152, 0.6)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
